 @import '../../../scss/variables.scss';

.OriginalTrackControls__container {
}

.OriginalTrackControls__soloBtn {
    background-color: $redColor !important;
}

.OriginalTrackControls__muteBtn {
    background-color: $muteButton !important;
}

.OriginalTrackControls__buttonGroup {
    outline: 1px solid $appBlackBackground;
}

.OriginalTrackControls__volumeMeter {
    outline: 1px solid $appBlackBackground;
}

.OriginalTrackControls__head {
    text-align: center;
    font-size: 11px;
    font-family: monospace;
    line-height: 20px;
}
