@import '../../../scss/variables.scss';

.RegularTrackTimeline__container_inactive {
    background-color: $timeLineColor;
    line-height: 0;
    overflow: hidden;
    &:hover {
        cursor: pointer;
        background-color: $timeLineColorLighter;
    }
}

.RegularTrackTimeline__container_active {
    line-height: 0;
    overflow: hidden;
    background-color: $buttonColor;
}

.RegularTrackTimeline__innerContainer {
    position: relative;
}
