@import '../../../scss/variables.scss';

.RegularTrackControls__container {
}


.RegularTrackControls__removeMarkerIcon {
    color: $redDarkColor;
}

.RegularTrackControls__addMarkerIcon {
    color: $greenColor;
}

.RegularTrackControls__soloBtn {
    background-color: $redColor !important;
}


.RegularTrackControls__muteBtn {
    background-color: $muteButton !important;
}
