@import '../../scss/variables.scss';

.RegularTrackTimeline__container {
    background-color: $timeLineColor;
    line-height: 0;
    overflow: hidden;
}

.RegularTrackTimeline__container_activeTrack {
    @extend .RegularTrackTimeline__container;
    background-color: $buttonColor;
}

.RegularTrackTimeline__innerContainer {
    position: relative;
}
