@import '../../scss/variables.scss';

.MediaBay__container {
    font-family: monospace;
    font-size: 11px;
    color: $fontColor;
    padding: 15px;

    table {
        border: none;
        background-color: $rulerColor;
    }

    td, th  {
        border: none !important;
    }

    input {
        color: $fontColor;
        background-color: $rulerColor;
        border: none;
        border-radius: 0 !important;
    }
}
