@import './variables.scss';

.no-gutter > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

html, body {
    height: 100%;
    background-color: $appBlackBackground;
}

.btn {
    border: 0 none;
    font-weight: bolder;
    border-radius: 0 !important;
    color: $appBlackBackground;
    text-shadow: none;
}

.btn-group:not(:last-of-type) {
    border-right: 1px solid $appBlackBackground;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    background-color: $buttonColorDarker ;
}

.btn-default {
    background: $buttonColor;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: $buttonColor;
}

button[disabled] {
    background-color: $buttonColor !important;
    color: $headerColor !important;

}
