$appBlackBackground: #141414;
$rulerColor        : #1e1f23;
$timeLineColor     : #2f3841;
$headerColor       : #414345;
$cursorColor       : #4d4d4d;
$borderColor       : #444A4F;
$buttonColorDarker : #4B5157;
$buttonColor       : #545d66;
$fontColor         : #c1cbd5;
$TCbackground      : rgba(75, 81, 87, 0.50);

$pointerColor      : #336ca5;


$TC-font-size    : 20px;
$rulerPointerSize: 20px;
$sliderHeight    : 30px;
